apt-xapian-index==0.49
arandr==0.1.9
chardet==3.0.4
configobj==5.0.6
dnspython==1.16.0
dtrx==7.1
enum34==1.1.6
fskbsetting==0.5.3
gyp==0.1
lxml==4.3.2
numpy==1.16.2
PyBluez==0.22
pycairo==1.16.2
pycrypto==2.6.1
PyGObject==3.30.4
pysmbc==1.0.15.6
python-apt==1.8.4.2
python-debian==0.1.35
six==1.12.0
